@import "../App.scss";

// Hojas de estilo página Register

.logo-container{
  margin-top: 10vh;
  width: 43.7vw;
}
.logo-lucky {
  width: 43.7vw;
}
.logo-lucky img{
  width: 43.7vw;
}
.title-form {
  width: 81.3vw;
  font-size: 2rem;
  font-weight: 500;
  color: $ocean;
  margin-top: 9.9vh;
  margin-top: 4.6vh;
  text-align: center;
}
.register-form {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.profile-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84.2vw;
  margin-bottom: 3.5vh;
}
.profile-container input[type="file"]{
  display: none;
  font-size: 0; 
}
.profile-container input[type="file"]{
  margin-top: 3vh;
	display: inline-block;
  width: 19vw;
  height: 19vw;
  border: 2px solid $ocean;
  border-radius: 50%;
	vertical-align: middle;
	background: url(../assets/icons_svg/new-photo.svg);
  background-size: cover;
}
.input-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 84.2vw;
  border-bottom: 1px solid $cloudyBlue;
  margin-top: 6%;
}
.data-form {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  border: 0;
  width: 77.9vw;
  height: 10vw;
  justify-content: center;
  align-items: center;
}
.check{
  margin: 2.4vw;
  width: 4vw;
}
.forget-pass {
  display: inline;
  align-self: flex-end;
  height: auto;
  font-size: 1.2rem;
  color: $pineGreen;
  text-align: right;
  text-decoration: none;
  margin-top: 1.2vh;
  margin-right: 10%;
}
.btn-signIn {
  width: 52.2vw;
  height: 6vh;
  padding: 1.6% 13.9%;
  border: 1px solid $ocean;
  border-radius: 5pt;
  background-color: $ocean;
  font-size: 1.6rem;
  color: white;

  margin-top: 10.7%;
  margin-bottom: 2.4vh;
}
.btn-create-user {
  padding: 0;
  margin: 0;
  width: 52.2vw;
  height: 6vh;
  padding: 1.6% 13.9%;
  border: 1px solid $ocean;
  border-radius: 5pt;
  background-color: white;
  font-size: 1.6rem;
  text-align: center;
  color: $ocean;
  margin-bottom: 18vh;
}
.btn-create-user-R {
  padding: 0;
  margin: 0;
  width: 52.2vw;
  height: 6vh;
  padding: 1.6% 13.9%;
  border: 1px solid $ocean;
  border-radius: 5pt;
  background-color: white;
  font-size: 1.6rem;
  text-align: center;
  color: $ocean;
  margin-bottom: 18vh;
  margin-top: 8vh;
}
.btn-create-google{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 52.2vw;
    padding: 1.6% 13.9%;
    border: 1px solid $ocean;
    border-radius: 5px;
    background-color: white;
    font-size: 1.6rem;
    text-decoration: none;
    color: $ocean;
    margin-top: 2.4%;
    margin-bottom: 10%;
}
.google-logo{
    width: auto;
    height: 2vh;  
}

// Clases de RecovesPass

.recover-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}
.input-container-RP{
    display: flex;
    flex-direction: row;
    width: 84.2vw;
    border-bottom: 1px solid $cloudyBlue;
    margin-top: 2.7vh;
}
.btn-recover-pass{
    width: 52.2vw;
    height: 6vh;
    border-radius: 5pt;
    background-color: $ocean;
    font-size: 1.6rem;
    color: white;
    margin-top: 8%;
}

// Estilos SelectLogin

.bg-selectLogin{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../assets/img/Log-Register/fondo.svg');
  margin-bottom: 3.6vh;
}
.buttons-container{
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7.2vh;

}
.select-button{
  padding: 0;
  margin: 0;
  width: 52vw;
  height: 30pt;
  background-color: $ocean;
  border: 0px;
  border-radius: 5pt;
  margin-bottom: 2.4vh;

  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  color: white;
}
.buttons-container h2{
  font-size: 2rem;
  font-style: medium;
  font-weight: 600;
  color: $pineGreen;
}
.p-buttons{
  padding: 0px;
  margin: 0px;
  font-size: 1.3rem;
  color: $pineGreen;
  text-decoration: none;
}