@import '../App.scss';

/* Estilos WelcomePage */

.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .logo{
    margin-top: 35vh;
    margin-bottom: 40px;
    width: 63vw;
    height: auto;
  }
  .lucky{
    width: 48vw;
    height: auto;
  }
