$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../../assets/fonts/icons" !default;

$icon-atras: "\e900";
$icon-buscar: "\e901";
$icon-cat: "\e902";
$icon-conejo: "\e903";
$icon-female: "\e904";
$icon-filtros: "\e905";
$icon-group-copy-2: "\e906";
$icon-group-copy: "\e907";
$icon-group: "\e908";
$icon-hamster: "\e909";
$icon-home: "\e90a";
$icon-male: "\e90b";
$icon-mapa: "\e90c";
$icon-mas-button: "\e90d";
$icon-mascota: "\e90e";
$icon-more: "\e90f";
$icon-ojo: "\e910";
$icon-perro: "\e911";

